{% extends 'base.html.twig' %}

{% block title %}Hello Master!{% endblock %}

{% block body %}

    <h1> Create Master ✅</h1>

    <form action="{{path('master_store')}}" method="POST">

    Name: <input type="text" name="master_name"> </input>
    Surame: <input type="text" name="master_surname"> </input>

    <button type="sumbit">New Master</button>
    </form>



{% endblock %}
